* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

h1 {
    color: white !important;
    text-align: center;
}

main {
    height: 100vh;
    background-color: brown;
}

.input-group,
.form-select {
    margin: 0 auto;
    max-width: 500px;
}

.btn {
    width: 100px;
    margin: 0 auto;
}

.my-btn:hover {
    box-shadow: 0 0 5px white;
}










q